/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-4);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important;
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}


/* CSS for App.jsx */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Todo List Page */
.todoTableDiv {
  justify-content: center;
  display: flex;
}
.todoTableDiv > div{
  width: 1200px;
  margin-bottom: 20px;
}

/* nav tab */
.nav-box{
  padding: 2px 8px 4px 8px;
  text-decoration: underline;
}

nav, nav > div > *{
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  color: white;
  /* background-color: #F67F00; */
}

nav{
  background-color: #F67F00;
  margin-bottom: 10px;
}
nav > span{
  padding-left: 20px;
}

nav > div{
  padding-right: 20px;
}

h1{
  font-size: 2.5rem;
  margin-bottom:20px;
}
h2{
  font-size: 2.25rem;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 1.75rem;
}
h5{
  font-size: 1.5rem;
}
h6{
  font-size: 1.4rem;
}

/* Pagination CSS */
.MuiToolbar-root > p{
  margin:0px !important
}

th, .col-form-label{
  font-size: 18px !important;
  color: black !important;
  font-weight: bold !important;
}

td{
  font-size: 16px !important;
}

/* Form CSS */
.formDiv{
  display: flex;
  justify-content: center;
}

.input-box{
  display: block !important;
  width:450px;
}

.inputField{
  justify-content: center;
  display: flex;
  height:fit-content;
  background-color: white;
  margin: 0 !important;
  padding: 0 !important;
  flex-direction: column;
}
.inputField >input{
  margin: 0 !important;
}

select {
  display: block;
}
textarea{
  height: auto;
}
.col-sm-4.col-form-label{
  padding-left: 0;
}

.btn.btn-primary.btn-lg{
  background-color:#F67F00;
}

.new-note-form{
  padding-top: 14px;
  padding-bottom: 14px;
}

.titleDiv{
  justify-content: center;
  display: flex;
  align-items: center;
}
table{border:1px solid white;}